<div>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: 	#00008B">
      <div class="container ">
        <div class=" p-1m d-flex justify-content-start" style="text-align: center;">
          <img src="../../assets/favicon.png"
            style="background-color: aliceblue; background-position: center; height: 4rem; width: 3rem;">
          <span class="d-flex align-self-center text-white"
            style="font-size: 2.5rem; letter-spacing: 0.5rem; margin-left: 0.5rem;">Nana's
            Shop</span>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarResponsive">
          <ul class="navbar-nav ml-auto text-white">
            <li class="nav-item active">
              <a class="nav-link text-white" href="index.html">Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" [routerLink]="['../cart']">
                <span><img src="../../assets/icons/cart.svg">Cart <sup>{{cart.length}}</sup>
              </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="about.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="contact.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Page Content -->
  <div class="page-heading products-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>new arrivals</h4>
            <h2>sixteen products</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="products">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="filters">
            <ul>
              <li class="active" data-filter="*">All Products</li>
              <li data-filter=".des">Featured</li>
              <li data-filter=".dev">Flash Deals</li>
              <li data-filter=".gra">Last Minute</li>
            </ul>
          </div>
        </div>
        <div class="col-md-12">
          <div class="filters-content">
            <div class="row grid">
              <div *ngFor="let prod of products; let l=index;" class="col-lg-4 col-md-4 all des">
                <div class="product-item">
                  <a href="#"><img src="{{prod.image}}" alt="" style="height: 15rem;"></a>
                  <div class="down-content">
                    <a href="#">
                      <h4>{{prod.name}}</h4>
                    </a>
                    <h6>$25.75</h6>
                    <p>{{prod.description}}</p>
                    <ul class="stars">
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span><button class="btn btn-sm btn-outline-primary"
                      (click)="Addtocart(prod)"
                      ><i class="bi bi-cart"></i>Add to cart</button></span>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
        <div class="col-md-12">
          <ul class="pages">
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner-content">
            <p>Copyright &copy; 2020 Sixteen Clothing Co., Ltd.

              - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
